.jd-box-top2 {
    width:1720px;
    height: 2080px;
    margin: 0 auto;
    position: relative;
}




/* 按钮 */
.jd-box-top2 .jdd .button {
    position: absolute;
    width: 100px;
    height: 60px;
    right: 400px;
    top: 355px;
    z-index: 200;
}
.jd-box-top2 .jdd .button input {
    
    display: none;
    
    
}
input + label {
   display: block;
   width: 70px;
   height: 44px;
   border: 1px solid;
   border-radius: 50px; 
   border-color: white;
   background-image: url(./2.png);
   position: absolute;
   background-position: -150px -63px;
   
}
input:checked + label {
   background-position: 220px -63px;
   transition: background-position 0.01s linear steps(2)  ;
}
.jd-box-top2 .jdd  .listb {
    position: absolute;
    xwidth:70px;
    xheight: 44px;
    
} 


.jd-box-top2 .jdd .more-link3 .jd2-one, .jd-box-top2 .jdd .more-link3 .jd2-two {
    margin-top: -415px;
    list-style: none;
}
/* 主页 */
.jd-box-top2 .jdd .more-link3 {
    width:1720px;
    height: 1080px;
    position: absolute;
    top: 200px;

}
.jd-box-top2 .jdd .more-link3 ul {
    display: inline-block;
    
}

.jd-box-top2 .jdd .more-link3 .baidupage {
    position: absolute;
    width:1720px;
    height: 300px;
    right: 0px;
    text-align: center;
    list-style: none;
    transition: all 0.6s;
    top: -100px;
}

.jd-box-top2 .jdd .more-link3 .baidupage .logo {
    width: 600px;
   
    position: absolute;
    left: 33%;
    bottom: 0px;
}
.jd-box-top2 .jdd .more-link3 .baidupage .logo a {
    text-decoration: none;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 10px;
     padding-top: 10px;
     border: 1px solid #000;
     border-radius: 10px;
     float: left;
     margin-right: 7px;
     color: #000;
  }
.jd-box-top2 .jdd .more-link3 .baidupage img {
        width: 500px;
        height: 200px;
       
} 
.jd-box-top2 .jdd .more-link3 .baidupage .baidusearch {
    top: 330px;
    width: 1720px;
    height: 200px;
    position: absolute;
}
 .baidusearch input[type="text"] {
    text-align: center;
    width:700px;
    height: 50px;
    border: 1px solid rgb(229,229,229);
}
.baidusearch input[type="submit"] {
    position: absolute;
    font-size: large;
    color: rgb(229,229,229);
    width:120px;
    height: 53px;
    border: 1px solid rgb(51,136,255);
    background-color: rgb(51,136,255);
    cursor: pointer;
}
.jd-box-top2 .jdd .more-link3 .jd-rightlist .second-name {
    font-size: 10px;
    color: #b0b0b0;
    position: absolute;
    top: 200px;
    left: 65px;
}
.jd-box-top2 .jdd .more-link3 .jd-rightlist .hot-prince {
    font-size: 15px;
    color: #ff6700;
    position: absolute;
    top: 230px;
    left: 65px;
}
.jd-box-top2 .jdd .more-link3 .jd-rightlist .delete {
    color: #b0b0b0;   
}
.jd-box-top2 .jdd .more-link3 .jd-rightlist .delete:before {
    top: 10px;
    margin-left: 3px;
    width: 60px;
    height: 1px;
    content: "";
    position: absolute;
    background: #b0b0b0;
}    
.jd-box-top2 .jdd .more-link3 .jd-rightlist .comment {
    width: 235px;
    height: 20px;
    bottom: 0;
    background-color: #ff6700;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s;
}
.jd-box-top2 .jdd .more-link3 .jd-rightlist .comment .comment1 {
    font-size: 12px;
    color: #fff;
}
.jd-box-top2 .jdd .more-link3 .jd-rightlist .comment .user {
    font-size: 12px;
    color: #665e57;
    margin-top: 10px;
    margin-left: -8px;
}

.jd-box-top2 .jdd .more-link3 .small-jd-rightlist2 {
    position: absolute;
    width: 232px;
    height: 145px;
    left: 977px;
    top: 320px;
    transition: all 0.6s;
}
.jd-box-top2 .jdd .more-link3 .small-jd-rightlist2 img {
    width: 232px;
    height: 145px;
}
.jd-box-top2 .jdd .more-link3 .viewmore2 {
    position: absolute;
    width: 232px;
    height: 145px;
    left: 977px;
    top: 474px;
    background-color: #fff;
    transition: all 0.6s;
}
.jd-box-top2 .jdd .more-link3 .viewmore2 h3 {
       color: #000;
       line-height: 100px;
       margin-left: -100px;
       text-align: center;
}
.jd-box-top2 .jdd .more-link3 .viewmore2 p {
    color: #665e57;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -30px;
}
.jd-box-top2 .jdd .more-link3 .viewmore2 > a > svg {
    position: absolute;
    left: 150px;
    top:  30px;
}

/* hover */
.jd-box-top2 .jdd .more-link3 .jd2-one, .jd-box-top2 .jdd .more-link3 .jd2-two {
    visibility: hidden;
    transition: 0s 999s;
}
.jd-box-top2 .jdd .more-link3 .jd2-one, 
  .list-one2:hover ~  .more-link3 .jd2-one, 
   .list-two2:hover ~ .more-link3 .jd2-two, 
   .list-three2:hover ~ .more-link3 .jd2-three, 
   .list-four2:hover ~ .more-link3 .jd2-four {
     visibility: visible;
 }

 .jdd .listb:hover ~ .more-link3 .jd2 {
     transition: none;
 }
 /* 浮起来效果 */
 .jdd .more-link3 .jd2 .baidupage .logo a:hover {
    transform: translate3d(0, -2px ,0);
   box-shadow: 0 5px 5px rgba(0,0,0,0.7);
}
.jdd .more-link3 .jd2 .small-jd-rightlist2:hover {
    transform: translate3d(0, -2px ,0);
    box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}
 .jdd .more-link3 .jd2 .viewmore2:hover {
    transform: translate3d(0, -2px ,0);
    box-shadow: 0 15px 30px rgba(0,0,0,0.7);
 }
 .jdd .more-link3 .jd2 .jd-rightlist:hover .comment {
 height: 80px;
 opacity: 1;
}
.jd-box-top2 .jdd .listb:hover {
     border-bottom: 2px solid #ff6700;
     cursor: pointer;
     padding-bottom: 5px;
     color: #ff6700;
}
.jd-box-to2 .jdd .listb {
   transition:   0s 10s;
   border: 1px solid rgb(245,245,245);
}
.jdd:hover .listb {
    transition: 0s;
}
